on:
  workflow_call:
    inputs:
      image:
        required: true
        type: string
      deploy-to-dev-if-branch-name-is:
        required: false
        type: string

jobs:
  deploy-to-dev:
    name: Deploy to dev
    if: github.ref == 'refs/heads/main' || github.ref == format('refs/heads/{0}', inputs.deploy-to-dev-if-branch-name-is)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: dev-gcp
          RESOURCE: nais/nais.yaml
          VAR: image=${{ inputs.image }}
          VARS: nais/dev-gcp.json

  deploy-to-prod:
    name: Deploy to prod
    if: github.ref == 'refs/heads/main'
    needs: deploy-to-dev
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: prod-gcp
          RESOURCE: nais/nais.yaml,nais/alerts.yaml
          VAR: image=${{ inputs.image }}
          VARS: nais/prod-gcp.json
