# TODO Are: Skal vi øegg til name her?
on:
  workflow_call:
    inputs:
      image:
        required: true
        type: string
jobs:
  trivy:
    runs-on: ubuntu-latest
#    permissions:
#      security-events: write # Push Trivy/Sarif to Github Security
#      packages: read # TODO Are: Unødvenidg og kan slettes?
    steps:
      - run: touch me # TODO Are: name istedenfor run?
      - uses: nais/login@v0
        with:
          project_id: ${{ vars.NAIS_MANAGEMENT_PROJECT_ID }}
          identity_provider: ${{ secrets.NAIS_WORKLOAD_IDENTITY_PROVIDER }}
          team: toi # TODO Are: Hente fra variabel?

      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: '${{ inputs.image }}'
          format: 'sarif'
          output: 'trivy-results.sarif'
          severity: 'HIGH,CRITICAL'
          limit-severities-for-sarif: true

      - name: Upload Trivy results to GitHub Security
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: 'trivy-results.sarif'
